.App {
  text-align: center;
}

h1, h4, h3, .names {
  z-index: 1;
}

.App-header {
  background-color:green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

details {
  color: red;
  margin-bottom: 1em;

}

summary{
  color: white;
  z-index: 1
}

details > summary {
  list-style: none;
  z-index: 2
}
details > summary::-webkit-details-marker {
  display: none;
}

.martreepic {
  width:90%
}

.marmar {
  position: absolute;
  z-index: 0;
  opacity: .6;
  right: 30%;
  bottom: 2%;
}
.martree {
  position: absolute;
  z-index: 0;
  opacity: .2;
  top: -2em;
  left:0%;
}

span {
  color:red
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
